.navbar{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  height: 60px;
  display: flex;
  align-items: center;
}

.menu{
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0px;
}
.nav-link{
  text-decoration: none;
  color: black;
}
Link{
  text-decoration: none;
}
.home{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.heading{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.hero-section{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.hero-image{
  width: 100%;
}
.para{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.product-page{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.products{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.card{
  max-width: 300px;
  border: 1px solid gray;
  border-radius: 6px;
}
.loading{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.link{
  list-style: none;
  padding: 0px;
}

.footer{
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   box-sizing: border-box;
   background-color: blue;
   color: white;
   display: flex;
   justify-content: space-between;
}
.footer-link{
  text-decoration: none;
  color: white;
 
}
.add-btn{
  padding: 8px 16px;
  background-color: rgb(223, 38, 38);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}
.cart-block{
  padding-right: 20px;
}

.cart{
  width: 24px;
  cursor: pointer;
}
.cart-image{
  width: 100px;
}
.cart-items{
 max-width: 800px;
 margin-left: auto;
 margin-right: auto;
}
.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex{
  display: flex;
  align-items: center;
}
.cart-heading{
  text-align: center;
}
.remove-btn{
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 12px;
}
.nav-link{
  position: relative;
}
.items-in-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  position: absolute;
   top: -36px;
   left: 20px;
   font-weight: bold;
   font-size: 12px;
}